name: Docker Build and Push

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  OWNER: ${{ github.repository_owner }}
  VERSION: latest

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU (for multi-arch, optional)
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Arkime image
        uses: docker/build-push-action@v4
        with:
          context: ./docker/Arkime
          file: ./docker/Arkime/Arkime.dockerfile
          push: true
          tags: |
            ghcr.io/${{ env.OWNER }}/arkimeviewer:${{ github.sha }}
            ghcr.io/${{ env.OWNER }}/arkimeviewer:${{ env.VERSION }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
